<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TP</title>
</head>
<body>
{% block body %}
<h1>Property List</h1>
<table border="2">
    <thead>
        <tr>
            <th> City </th>
            <th> Title </th>
            <th> Description </th>
            <th> Max Pax </th>
            <th> Image </th>
            <th> Daily Cost </th>
        </tr>
    </thead>
    <tbody>
   {% for property in object_list %}
        <tr>
            <td> {{ property.city }}</td>
            <td> {{ property.title }}</td>
            <td> {{ property.description }}</td>
            <td> {{ property.maxPax }}</td>
            <td>
                <img src="{{ property.image.url }}">
            </td>
            <td> {{ property.dailyCost }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}
</body>
</html>